@import "../skin.less";

.fcui2-calendar {
    font-family: @normal-font;
    position: relative;
    width: 224px;
    overflow: hidden;
    .calendar-month {
        margin-left: 10px;
    }
    .calendar-operation {
        background-color: #F5F5F5;
        padding: 5px 0;
        text-align: center;
        .button-disabled {
            color: @color-disabled !important;
        }
        .fcui2-button {
            padding: 0px !important;
            top: 9px !important;
            width: 28px !important;
            height: 28px !important;
        }
        .font-icon-largeable-caret-right {
            float: right;
            margin-right: 5px;
        }
        .font-icon-largeable-caret-left {
            float: left;
            margin-left: 5px;
        }
        .fcui2-button:active {
            border-color: @color-active !important;
        }
    }
    .calendar-day-label {
        background-color: #FBFBFB;
        text-align: center;
        font-size: 12px;
        line-height: 32px;
        div {
            display: inline-block;
            width: 32px;
            height: 32px;
            line-height: 32px;
            font-size: 12px;
            color: #888;
            text-align: center;
        }
    }
    .calendar-buttons {
        position: relative;
        height: 192px;
        width: 224px;
        .fcui2-button {
            position: absolute !important;
            padding: 0 !important;
            width: 30px;
            height: 30px;
            input {
                color: #333;
            }
        }
        .fcui2-button:hover {
            -webkit-box-shadow: 0 0 0 !important;
            -moz-box-shadow: 0 0 0 !important;
            box-shadow: 0 0 0 !important;
        }
        .fcui2-button-calendar:hover {
            border-color: @color-active !important;
            input {
                color: @color-active !important;
            }
        }
        .fcui2-button-disabled {
            border-color: #FFF !important;
            background-color: #FFF !important;
        }
        .fcui2-button-active {
            input {
                color: @color-active !important;
            }
        }
    }
}
