// version 0.0.2

.fcui2-combolist {
    display: inline-block;
    position: relative;
    top: 10px;
    margin-top: -10px;
    height: 28px;
    border: 1px solid;
    .icon-right {
        position: relative;
        display: inline-block;
        top: -1px;
        left: 1px;
        margin-left: -2px;
        float: right;
        width: 20px;
        font-size: 12px;
        line-height: 30px !important;
        height: 28px !important;
        text-align: center;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 0px 2px 2px 0px;
    }
    .label-container {
        display: block;
        height: 28px;
        line-height: 28px;
        font-size: 12px;
        padding: 0 14px;
        word-break: break-all;
        word-wrap: break-word;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .marginRight {
        margin-right: 20px;
    }
    .spliter {
        float: right;
        width: 1px;
        height: 16px;
        position: relative;
        top: 6px;
    }
}

.fcui2-combolist-normal {
    cursor: pointer;
    background-color: @color-btn; 
    border-color: @color-btn;
    .label-container {
        color: @color-gray-1;
        background-color: @color-btn;
        &:hover {
            background-color: @color-btn-hover;
        }
    }
    .icon-right {
        color: @color-gray-1;
        background-color: @color-btn;
        &:hover {
            background-color: @color-btn-hover;
        }
    }
    .layerOpen {
        background-color: @color-btn-hover;
    }
    .spliter {
        background-color: @color-blue-1;
    }
}


.fcui2-combolist-oneux3-normal {
    cursor: pointer;
    background-color: @oneux3-bgcolor-c20; 
    border-color: @oneux3-bgcolor-c20; 
    .label-container {
        color: @color-gray-1;
        background-color: @oneux3-bgcolor-c20;
        &:hover {
            background-color: @oneux3-bgcolor-c17;
        }
    }
    .icon-right {
        color: @color-gray-1;
        background-color: @oneux3-bgcolor-c20;
        &:hover {
            background-color: @oneux3-bgcolor-c17;
        }
    }
    .layerOpen {
        background-color: @oneux3-bgcolor-c20;
    }
    .spliter {
        background-color: @oneux3-bgcolor-c24;
    }
}

.fcui2-combolist-oneux4-normal {
    cursor: pointer;
    background-color: @oneux4-bgcolor-c6; 
    border-color: @oneux4-bgcolor-c6; 
    .label-container {
        color: @color-gray-1;
        background-color: @oneux4-bgcolor-c6;
        &:hover {
            background-color: @oneux4-bgcolor-c7;
        }
    }
    .icon-right {
        color: @color-gray-1;
        background-color: @oneux4-bgcolor-c6;
        &:before {
            content: "\e60e";
        }
        &:hover {
            background-color: @oneux4-bgcolor-c7;
        }
    }
    .layerOpen {
        &:before {
            content: "\e60f";
        }
        background-color: @oneux4-bgcolor-c7;
    }
    .spliter {
        background-color: rgba(255,255,255,.6);
    }
}

.fcui2-combolist-oneux3-disabled,
.fcui2-combolist-disabled {
    cursor: default;
    background-color: @color-bg-btn;
    border-color: @color-outer-border; 
    .label-container {
        color: @color-disabled-text;
        background-color: @color-bg-btn;
        &:hover {
            background-color: @color-bg-btn;
        }
    }
    .icon-right {
        left: 0px;
        top: 0px;
        height: 26px !important;
        color: @color-disabled-text;
        background-color: @color-bg-btn;
        &:hover {
            background-color: @color-bg-btn;
        }
    }
    .spliter {
        background-color: @color-outer-border;
    }
}
.fcui2-combolist-oneux4-disabled {
    cursor: default;
    background-color: @oneux4-bgcolor-c4;
    border-color: @oneux4-bgcolor-c4; 
    .label-container {
        color: @color-disabled-text;
        background-color: @oneux4-bgcolor-c4;
        &:hover {
            background-color: @oneux4-bgcolor-c4;
        }
    }
    .icon-right {
        left: 0px;
        top: 0px;
        height: 26px !important;
        color: @color-disabled-text;
        background-color: @oneux4-bgcolor-c4;
        &:before {
            content: "\e60e";
        }
        &:hover {
            background-color: @oneux4-bgcolor-c4;
        }
    }
    .spliter {
        background-color: @color-outer-border;
    }
}

.fcui2-combolist-oneux3-normal,
.fcui2-combolist-oneux4-normal,
.fcui2-combolist-oneux4-disabled,
.fcui2-combolist-oneux3-disabled {
    height: 26px;
    top: 8px;
    .icon-right,.label-container {
        height: 26px;
        line-height: 26px;
    }
}
