// version 0.0.2

.fcui2-combolist {
    display: inline-block;
    position: relative;
    top: 3px;
    margin-top: -3px;
    height: 28px;
    border: 1px solid;
    .icon-right {
        float: right;
        width: 20px;
        display: inline-block;
        line-height: 28px;
        border-left: 1px solid;
        text-align: center;
    }
    >span {
        position: relative;
        top: -3px;
        line-height: 32px;
        padding: 0 10px;
    }
}

.fcui2-combolist-normal {
    cursor: pointer;
    border-color: @color-btn; 
    >span {
        display: inline-block;
        font-size: 12px;
        padding: 0 10px;
        color: @color-gray-1;
        background-color: @color-btn;
        line-height: 30px;
        margin-top: 2px;
        &:hover {
            background-color: @color-btn-hover;
        }
    }
    .icon-right {
        color: @color-gray-1;
        border-left-color: @color-blue-7;
        background-color: @color-btn;
        &:hover {
            background-color: @color-btn-hover;
        }
    }
}

.fcui2-combolist-disabled {
    border-color: @color-outer-border !important;
    >span {
        color: @color-disabled-text !important;
        line-height: 28px;
        background-color: @color-bg-btn !important;
        border-top: 1px solid @color-outer-border;
        border-bottom: 1px solid @color-outer-border;
    }
    .icon-right {
        color: @color-disabled-text !important;
        background-color: @color-bg-btn !important;
        border-left-color: @color-outer-border !important;
    }
}
