// version 0.0.2

.fcui2-crumb {
    position: relative;
    .fcui2-crumb-separator {
        display: inline-block;
        margin: 0 5px;
    }
}

.fcui2-crumb-normal {
    font-family: @font-normal;
    .fcui2-crumb-separator, .fcui2-crumb-label {
        color: @color-text-1;
    }
}
