// version 0.0.2

.fcui2-dialog-alert {
    width: 460px;
    .message {
        padding: 30px 20px 20px 20px;
        font-size: 14px;
        line-height: 22px;
    }
    .button-bar {
        text-align: left;
        padding: 20px 0 20px 10px;
        border-top: 1px solid @color-gray-4;
        .fcui2-button {
            margin: 0 10px;
        }
    }
}
