@import "../skin.less";


.fcui2-dialog-container {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    overflow: hidden;
}


.fcui2-dialog-workspace {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 9999px;
    height: 9999px;
    background-color: @bgcolor-active;
    .title-bar {
        cursor: default;
        color: @fontcolor-important;
        padding: @padding-normal;
        background-color: @bgcolor-window-title;
        font-weight: @fontweight-title;
        line-height: @lineheight-window-title;
        .font-icon-times {
            float: right;
            font-size: @fontsize-close-button;
            line-height: @lineheight-window-title;
            color: @fontcolor-close-button;
        }
        .font-icon-times:hover {
            color: @fontcolor-important;
            cursor: pointer !important;
        }
    }
    .content {
        position: absolute;
        top: 40px;
        left: 0px;
        border: 1px solid #000;
    }
    .content-fixed {
        right: 0px;
        bottom: 0px;
        overflow: auto;
    }
}


.fcui2-dialog-background {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: @bgcolor-window-background;
    opacity: 0.2;
}


.fcui2-dialog-alert {
    padding: 10px;
    width: 400px;
    .message-icon  {
        float: left;
        width: @fontsize-alert-icon;
        font-size: @fontsize-alert-icon;
        margin-left: 10px;
        margin-top: 20px;
    }
    .message {
        padding: 30px 10px;
        margin-left: @fontsize-alert-icon + 10;
        font-size: @fontsize-icon;
        line-height: @fontsize-icon * 1.5;
    }
    .button-bar {
        width: 100%;
        text-align: center;
        .fcui2-button {
            margin: @margin-normal;
        }
    }
}
