@import "../skin.less";
.fcui2-dropdownlist {
    display: inline-block;
    position: relative;
    height: @height-normal;
    border: @border-normal;
    padding: @padding-dropdownlist;
    color: @fontcolor-normal;
    background-color: @bgcolor-normal;
    line-height: @lineheight-normal;
    font-size: @fontsize-button;
    font-family: @normal-font;
    text-align: center;
    cursor: pointer;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    .icon-right {
        float: right;
        width: 20px;
        display: inline-block;
        line-height: @lineheight-normal;
    }
    &:hover {
        border-color: @color-active !important;
        .icon-right {
            color: @color-active;
        }
    }
    .label-container {
        height: @height-normal;
        margin-right: 21px;
        word-break: break-all;
　　    word-wrap: break-word;
    }
}
.fcui2-dropdownlist-disabled {
    .label-container {
        color: @color-disabled !important;
    }
    .icon-right {
        color: @color-disabled !important;
    }
}
.fcui2-dropdownlist-disabled:hover {
    border-color: @color-disabled !important;
    .icon-right {
        color: @color-disabled !important;
    }
}
