// version 0.0.2

.fcui2-dropdownlist {
    position: relative;
    top: 10px;
    margin-top: -10px;
    display: inline-block;
    height: 28px;
    border: 1px solid;
    padding: 0 0 0 10px;
    line-height: 28px;
    .icon-right {
        float: right;
        width: 15px;
        display: inline-block;
        line-height: 26px;
        font-size: 12px;
    }
    .label-container {
        display: block;
        height: 28px;
        line-height: 26px;
        margin-right: 21px;
        font-size: 12px;
        word-break: break-all;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.fcui2-dropdownlist-normal {
    border-color: @color-outer-border;
    background-color: @color-bg-btn;
    font-size: 12px;
    font-family: @font-normal;
    cursor: pointer;
    .label-container {
        color: @color-text-3;
    }
    .icon-right {
        color: @color-gray-9;
    }
    &:hover {
        border-color: @color-btn-hover;
        .icon-right {
            color: @color-btn-hover;
        }
    }
}

.fcui2-dropdownlist-normal-hover {
    border-color: @color-btn-hover;
    .icon-right {
        color: @color-btn-hover;
    }
}

.fcui2-dropdownlist-disabled {
    color: @color-disabled-text;
    cursor: default;
    .label-container {
        color: @color-disabled-text;
    }
    .icon-right {
        color: @color-disabled-text;
    }
}

.fcui2-dropdownlist-disabled:hover {
    border-color: @color-outer-border;
    .icon-right {
        color: @color-disabled-text;
    }
}

// oneux3
.fcui2-dropdownlist-oneux3-normal {
    height: 26px;
    line-height: 26px;
    background-color: @oneux3-bgcolor-c1;
    border-color: @oneux3-bgcolor-c11;
    cursor: pointer;
}
.fcui2-dropdownlist-oneux3-grey {
    height: 26px;
    line-height: 26px;
    background-color: @oneux3-bgcolor-c10;
    border-color:  @oneux3-bgcolor-c10;
    color: @oneux3-color-c4;
    cursor: pointer;
}
.fcui2-dropdownlist-oneux3-important {
    height: 26px;
    line-height: 26px;
    background-color: @oneux3-bgcolor-c16;
    border-color: @oneux3-bgcolor-c16;
    color: @oneux3-bgcolor-c1;
    cursor: pointer;
}
.fcui2-dropdownlist-oneux3-blue {
    height: 26px;
    line-height: 26px;
    background-color: @oneux3-bgcolor-c14;
    border-color:  @oneux3-bgcolor-c14;
    color: @oneux3-color-c4;
    cursor: pointer;
}

.fcui2-dropdownlist-oneux3-grey-hover,
.fcui2-dropdownlist-oneux3-blue-hover,
.fcui2-dropdownlist-oneux3-normal-hover {
    background-color: @oneux3-bgcolor-c1;
    border-color:  @oneux3-bgcolor-c20;
    color: @oneux3-bgcolor-c20;
}
.fcui2-dropdownlist-oneux3-disabled {
    height: 26px;
    line-height: 26px;
    background-color: @oneux3-bgcolor-c10 !important;
    border-color: @oneux3-bgcolor-c10 !important;
    color: @oneux3-color-c3;
    cursor: pointer;
}