@import "../skin.less";
.fcui2-list {
    font-size: @fontsize-button;
    line-height: @lineheight-normal;
    white-space: nowrap;
    text-align: left;
    margin: 5px 0;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    hr {
        background-color: #000;
        border: 0;
        border-top: @border-normal;
        margin: 0 1px;
    }
    .icon-right {
        float: right;
        width: 20px;
        display: inline-block;
        line-height: @lineheight-normal;
    }
    .right-layer {
        position: absolute;
        padding: 5px 0;
        display: none;
        margin-left: 100%;
        top: 0px;
        border: 1px solid #F00;
        background-color: @bgcolor-active;
        border: @border-normal;
        -webkit-box-shadow: @shadow-normal;
        -moz-box-shadow: @shadow-normal;
        box-shadow: @shadow-normal;
        z-index: 10000;
    }
    .disabled-layer {
        display: none;
    }
    .disabled {
        color: @color-disabled;
        >.right-layer {
            display: none !important;
        }
    }
    .disabled:hover {
        background-color: @bgcolor-active !important;
    }
    .item {
        position: relative;
        overflow: show;
        cursor: default;
        span {
            margin: @margin-normal;
        }
    }
    .item:hover {
        background-color: @bgcolor-item-hover;
        >.font-icon-largeable-caret-right {
            color: @color-active;
        }
        >.right-layer {
            display: block;
            z-index: 9999;
        }
    }
}
