@import "../skin.less";
.fcui2-numberbox {
    position: relative;
    left: 0px;
    top: 9px;
    display: inline-block;
    height: @height-outer;
    input {
        position: absolute;
        left: 0px;
        top: 0px;
        outline: none;
        height: @height-normal;
        border: @border-normal;
        padding: @padding-normal;
        background-color: transparent;
        text-align: center;
    }
    input:hover {
        border: @border-active;
    }
    input:focus {
        border: @border-active;
    }
    .btn-container {
        float: right;
        width: 18px;
        height: @height-normal;
        border: @border-normal;
        border-left: 0px;
        .font-icon {
            line-height: @lineheight-small2;
            background-color: @bgcolor-normal;
            text-align: center;
            cursor: default;
            moz-user-select: -moz-none;
            -moz-user-select: none;
            -o-user-select:none;
            -khtml-user-select:none;
            -webkit-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }
        .font-icon:hover {
            background-color: @bgcolor-important;
            color: @fontcolor-important;
        }
        .font-icon:active {
            background-color: @bgcolor-important-hover;
        }
        .font-icon-largeable-caret-up {
            line-height: @lineheight-small1 !important;
            border-bottom: @border-normal;
        }
    }
}
.fcui2-numberbox-reject {
    input {
        border-color: #F00 !important;
    }
}
.fcui2-numberbox-disable {
    input:hover {
        border: @border-normal !important;
    }
    .font-icon {
        color: @color-disable !important;
    }
    .font-icon:hover {
        background-color: @bgcolor-normal !important;
        color: @color-disable !important;
    }
    .font-icon:active {
        background-color: @bgcolor-normal !important;
    }
}