// version 0.0.2

.fcui2-pager {
    .fcui2-button {
        margin-left: 5px;
        width: 28px;
        input {
            padding: 0;
        }
    }
    .page-jumper {
        margin-left: 20px;
        .fcui2-numberbox-normal {
            background: transparent;
            position: relative;
            left: 9px;

            input {
                padding: 0 !important;
                text-align: center;
            }
        }
    }
}

.fcui2-pager-simple {
    .fcui2-button {
        background-color: transparent;
        border: 0;
        width: auto;
        input {
            color: @color-link; 
            &:hover {
                color: @color-text-3;
            }
        }
        &:hover {
            -webkit-box-shadow: 0 0 0;
            -moz-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
        }
    }
    .fcui2-button-active {
        input {
            color: @color-text-3;
        }
    }
}