// version 0.0.2


.fcui2-searchbox {
    display: inline-block;
    position: relative;
    left: 0px;
    top: 11px;
    margin-top: -11px;
    height: 30px;
    input {
        position: absolute;
        left: 0px;
        top: 0px;
        outline: none;
        height: 28px;
        border: 1px solid;
        padding: 0 20px 0 10px;
    }
    .placeholder {
        position: absolute;
        left: 0px;
        top: 0px;
        line-height: 28px;
        padding: 0 10px;
    }
    .fcui2-icon-search {
        position: absolute;
        top: 2px;
        right: 5px;
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
    }
    .fcui2-icon-remove {
        position: absolute;
        top: 6px;
        right: 5px;
    }
}


.fcui2-searchbox-normal {
    input {
        background-color: transparent;
        border-color: @color-outer-border;
        &:hover,&:focus {
            border-color: @color-btn-hover;
        }
    }
    .fcui2-icon-search {
        color: @color-disabled-text;
        cursor: pointer;
        &:hover {
            color: @color-btn;
        }
    }
    .fcui2-icon-remove {
        color: @color-disabled-text;
        cursor: pointer;
        &:hover {
            color: @color-btn;
        }
    }
    .placeholder {
        color: @color-disabled-text;
        font-size: 12px;
    }
}


.fcui2-searchbox-oneux3-normal {
    height: 28px;
    top: 9px;
    margin-top: -9px;
    input {
        height: 26px;
        background-color: transparent;
        border-color: @oneux3-bgcolor-c2;
        &:hover,&:focus {
            border-color: @oneux3-bgcolor-c20;
        }
    }
    input[type="text"]::-ms-clear {
        display:none;
    }
    .fcui2-icon-search {
        color: @oneux3-color-c3;
        cursor: pointer;
        &:hover {
            color: @oneux3-bgcolor-c20;
        }
    }
    .fcui2-icon-times {
        color: @oneux3-color-c3;
        cursor: pointer;
        &:hover {
            color: @oneux3-bgcolor-c20;
        }
    }
    .placeholder {
        color: @oneux3-color-c3;
        font-size: 12px;
    }
    .search-button {
        display: inline-block;
        position: absolute;
        height: 28px;
        line-height: 28px;
        text-align: center;
        width: 50px;
        background-color: @oneux3-bgcolor-c16;
        color: @oneux3-bgcolor-c1;
        cursor: pointer;
    }
}

.fcui2-searchbox-oneux3-disabled,
.fcui2-searchbox-disabled {
    background-color: @color-bg-btn !important;
    input {
        color: @color-disabled-text !important;
        &:hover {
            border-color: @color-outer-border !important;
        }
    }
    .fcui2-icon-search:hover {
        cursor: default;
        color: @color-disabled-text;
    }
    .fcui2-icon-times:hover {
        cursor: default;
        color: @color-disabled-text;
    }
}

