@import "../skin.less";
.fcui2-searchbox {
    display: inline-block;
    position: relative;
    top: 12px;
    margin-top: -12px;
    height: 30px;
    .fcui2-textbox {
        position: absolute;
        top: 8px;
        input {
            padding-right: 25px;
        }
    }
    .font-icon-search {
        position: absolute;
        top: 6px;
        right: 5px;
        color: #888888;
        cursor: pointer;
    }
}
.fcui2-searchbox:hover {
    .font-icon-search {
        color: @color-active;
    }
}
.fcui2-searchbox-disabled:hover {
    .font-icon-search {
        cursor: default;
        color: #888888;
    }
}
