@import "../skin.less";
.fcui2-table {
    position: relative;
    z-index: 0;
    table {
        border-right: @border-normal;
        border-bottom: @border-normal;
    }
    td, th {
        border-top: @border-normal;
        border-left: @border-normal;
        line-height: 40px;
        padding: @padding-td;
        word-break: break-all;
    }
    tr:hover {
        background-color: @bgcolor-item-hover;
        .td-button {
            .font-icon {
                visibility: visible;
            }
        }
    }
    .shadow-container {
        position: absolute;
        top: 0px;
        height: 0px;
        width: 100%;
        overflow-y: hidden;
        table {
            position: absolute;
            bottom: -1px;
            z-index: 1;
        }
    }
    .table-container {
        .table-header, .table-message {
            visibility: hidden;
        }
    }
}




/*
    .tr-selected {
        background-color: @bgcolor-item-hover !important;
    }
    .td-selector-container {
        text-align: center;
    }
    .table-nodata {
        display: inline-block;
        margin: 20px;
        border: @border-normal;
        font-size: 12px;
        line-height: 40px;
        text-align: center;
        height: 40px;
        width: 150px;
    }
    .tr-selector {
        width: @fontsize-icon-button;
        height: @fontsize-icon-button;
        position: relative;
        top: 3px;
    }
    .table-message {
        background-color: @bgcolor-information;
        text-align: center;
        cursor: default;
        font-size: @fontsize-button;
        .link {
            cursor: pointer;
            margin-left: 10px;
            color: @fontcolor-highlight;
        }
        .link:hover {
            text-decoration: underline;
        }
        .font-icon-times {
            float: right;
            font-size: @fontsize-icon-button;
            line-height: @lineheight-window-title;
            visibility: hidden;
        }
        .font-icon-times:hover {
            color: @fontcolor-highlight;
        }
        &:hover {
            .font-icon-times {
                visibility: visible;
            }
        }
    }
    .table-message:hover {
        background-color: @bgcolor-information !important;
    }
        .table-summary {
        background-color: @bgcolor-table-header !important;
        font-weight: @fontweight-title;
        font-size: @fontsize-button !important;
        .font-icon {
            display: inline-block;
        }
        .sort-button {
            float: right;
            position: relative;
            line-height: @lineheight-window-title;
            font-size: 18px;
            cursor: pointer;
        }
        .sort-button:hover {
            color: @color-active !important;
        }
        .fcui2-tip {
            font-size: @fontsize-icon-button;
            top: 2px;
        }
    } 
*/