@import "../skin.less";
.fcui2-table {
    position: relative;
    z-index: 0;
    table {
        border-left: @border-normal;
    }
    td {
        border-right: @border-normal;
        border-bottom: @border-normal;
        line-height: 40px;
        padding: @padding-td;
        word-break: break-all;
    }
    tr:hover {
        background-color: @bgcolor-item-hover;
        .td-button {
            .font-icon {
                visibility: visible;
            }
        }
    }
    .tr-selected {
        background-color: @bgcolor-item-hover !important;
    }
    .td-selector-container {
        text-align: center;
    }
    .tr-selector {
        width: @fontsize-icon-button;
        height: @fontsize-icon-button;
        position: relative;
        top: 3px;
    }
    .table-message {
        background-color: @bgcolor-information;
        text-align: center;
        cursor: default;
        font-size: @fontsize-button;
        .link {
            cursor: pointer;
            margin-left: 10px;
            color: @fontcolor-highlight;
        }
        .link:hover {
            text-decoration: underline;
        }
        .font-icon-times {
            float: right;
            font-size: @fontsize-icon-button;
            line-height: @lineheight-window-title;
            visibility: hidden;
        }
        .font-icon-times:hover {
            color: @fontcolor-highlight;
        }
        &:hover {
            .font-icon-times {
                visibility: visible;
            }
        }
    }
    .table-message:hover {
        background-color: @bgcolor-information !important;
    }
    .shadow-container {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 0px;
        overflow-y: hidden;
        border-top: @border-normal;
        table {
            position: absolute;
            bottom: 0px;
            z-index: 1;
        }
    }
    .table-container {
        .table-header, .table-message {
            visibility: hidden;
        }
    }
}
