// version 0.0.2

.fcui2-titlewindow-container {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    overflow: hidden;
    box-sizing: content-box;
    * {
        box-sizing: content-box;
    }
}

.fcui2-titlewindow-background {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: black;
    opacity: 0.2;
}

.fcui2-titlewindow {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 9999px;
    height: 9999px;
    .title-bar {
        position: relative;
        cursor: default;
    }
    .fcui2-icon-close {
        position: absolute;
        top: 0px;
        right: 5px;
        float: right;
        font-size: 14px;
        line-height: 40px;
        z-index: 1;
        &:hover {
            cursor: pointer; 
        }
    }
}

.fcui2-titlewindow-normal {
    background-color: @color-bg;
    .title-bar {
        padding: 0 10px;
        font-weight: 700;
        line-height: 40px;
        color: @color-bg;
        background-color: @color-blue-8;
        .fcui2-icon-close {
            font-size: 12px;
            right: 10px;
            color: @color-bg;
            &:hover {
                color: @color-blue-7;
            }
        }
    }
    .content {
        position: absolute;
        top: 40px;
        left: 0px;
    }
    .content-fixed {
        right: 0px;
        bottom: 0px;
        overflow: auto;
    }
}


.fcui2-titlewindow-oneux3-normal,
.fcui2-titlewindow-oneux4-normal {
    background-color: @oneux3-bgcolor-c1;
    .title-bar {
        margin: 0 2px 0 30px;
        font-weight: 700;
        line-height: 60px;
        height: 47px;
        font-size: 16px;
        color: @oneux3-color-c1;
        background-color: @oneux3-bgcolor-c1;
        border-bottom: 1px solid @oneux3-bgcolor-c29;
        .fcui2-icon-close {
            right: 12px;
            top: 4px;
            color: @oneux3-color-c12;
            &:hover {
                color: @oneux3-color-c3;
            }
        }
    }
    .content {
        position: absolute;
        top: 48px;
        left: 0px;
    }
    .content-fixed {
        right: 0px;
        bottom: 0px;
        overflow: auto;
    }
}