@import "../icon/fc-icon-mixin.less";


.fcui2-tree {
    overflow: auto;

    .fcui2-tree-node {
        line-height: 30px;
        position: relative;

        &:hover {
            background-color: #F2F8FF;
        }

        &-focused {
            background-color: #ebf3ff;
            font-weight: bold;
        }

        .fcui2-tree-node-name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 40px;
        }

        .fcui2-tree-node-loading {
            color: #333;
            font-size: 80%;
            margin-right: 10px;
        }

        .fcui2-tree-node-collapsed {
            &:after {
                #fc-icon > .use-font-icon(@font-icon-caret-right);
            }
        }
        .fcui2-tree-node-expanded {
            &:after {
                #fc-icon > .use-font-icon(@font-icon-caret-down);
            }
        }
        .fcui2-tree-node-oper-handle {
            float: right;
            color: #2F82F5;
            margin-right: 10px;
            &:after {
                #fc-icon > .use-font-icon(@font-icon-times);
            }
        }
        .fcui2-tree-node-collapsed,
        .fcui2-tree-node-expanded {
            color: #888;
            width: 16px;
            height: 15px;
            margin: 7px 10px 7px 10px;
        }
        .fcui2-tree-node-collapsed,
        .fcui2-tree-node-expanded,
        .fcui2-tree-node-oper-handle {
            cursor: pointer;
        }

        &-marked {
            .fcui2-tree-node-oper-handle {
                cursor: default;
                color: #C8C8C8;
            }
        }

        &-leaf {
            padding-left: 36px;
            .fcui2-tree-node-collapsed,
            .fcui2-tree-node-expanded {
                display: none;
            }
        }

        &-filtered {
            display: none;
        }
    }
}
