

.parser-default {
    border: 1px solid #E6E6E6;
    border-bottom: 0;
    margin-bottom: 10px;
    background-color: #F8F8F8;
}

.parser-default-item {
    clear: both;
    line-height: 30px;
    border-bottom: 1px solid #E6E6E6;
    >div:first-child {
        float: left;
        width: 100px;
        text-align: right;
        border-right: 1px solid #E6E6E6;
        padding-right: 10px;
    }
    >div:last-child {
        margin-left: 121px;
        min-height: 30px;
    }
}