
.parser-structure {
    margin-top: 10px;
    background-color: #FFF;
    padding: 10px;
    border: 1px solid #C1C1C1;
    .attention {
        color: red;
        font-weight: 700;
        text-align: right;
    }
}