@import "./defaultParser.less";

body {
    margin: 0px;
}

.logo {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 60px;
    width: 200px;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    background-color: #F8F8F8;
    color: #333333;
    border-bottom: 1px solid #E6E6E6;
}
.left-container {
    position: fixed;
    left: 0px;
    top: 61px;
    bottom: 0px;
    width: 200px;
    border-right: 1px solid #E6E6E6;
    overflow-y: auto;
    hr {
        margin: 0px;
        border-top: 1px solid #E6E6E6;
        border-bottom: 0;
    }
}
.right-top-container {
    position: fixed;
    top: 0px;
    left: 200px;
    right: 0px;
    height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 60px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #E6E6E6;
    color: #333333;
    z-index: 1;
}
.right-middle-container {
    margin-left: 201px;
    margin-top: 60px;
    margin: 60px 0 300px 201px;
    padding: 50px;
    font-size: 12px;
}


.menu-item {
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    cursor: default;
    border-bottom: 1px solid #E6E6E6;
    background-color: #F8F8F8;
    color: #333333;
}
.list-item {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    cursor: default;
    color: #333;
}
.list-item:hover {
    background-color: #F2F8FF;
    color: #333;
}
.list-item-selectd {
    background-color: #F2F8FF;
}

