
@import "./parsers/default.less";
@import "./parsers/introduction.less";
@import "./parsers/properties.less";
@import "./parsers/constructor.less";
@import "./parsers/params.less";
@import "./parsers/code.less";
@import "./parsers/method.less";
@import "./parsers/structure.less";
@import "./menu.less";
@import "./demo.less";

@left-width: 230px;

body {
    margin: 0px;
    background-color: #F8F8F8;
    font-family: 'Helvetica', 'Tahoma', 'Arial', 'Microsoft YaHei', '微软雅黑', 'Heiti SC', sans-serif;
}
h3 {
    color: #3574ca;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
}
h4 {
    color: #3574ca;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}
h6 {
   color: #333;
   margin: 10px; 
}
.fork-me {
    width: 139px;
    height: 139px;
    background-image: url(../images/fork.png);
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10000;
    cursor: pointer;
}
.logo {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 60px;
    width: @left-width;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: #333333;
    border-bottom: 1px solid #C1C1C1;
}
.left-container {
    position: fixed;
    left: 0px;
    top: 61px;
    bottom: 0px;
    width: @left-width;
    border-right: 1px solid #C1C1C1;
    overflow-y: auto;
    overflow-x: hidden;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    hr {
        margin: 0px;
        border-top: 1px solid #E8E8E8;
        border-bottom: 0;
    }
}
.right-middle-container {
    margin-left: @left-width + 1;
    margin: 0px 0 300px @left-width + 1;
    padding: 10px 50px;
    font-size: 12px;
}
.right-bottom-container {
    position: fixed;
    right: 50px;
    bottom: 10px;
    a {
        display: inline-block;
        line-height: 40px;
        font-size: 20px;
        background-color: #F8F8F8;
        color: #333;
        border: 1px solid #C1C1C1;
        cursor: pointer;
        margin-left: 10px;
        padding: 10px;
    }
}
