
@import "./parsers/default.less";
@import "./parsers/introduction.less";
@import "./parsers/properties.less";
@import "./parsers/constructor.less";
@import "./parsers/params.less";
@import "./parsers/code.less";
@import "./parsers/method.less";
@import "./parsers/structure.less";
@import "./menu.less";
@import "./demo.less";

@left-width: 230px;

body {
    margin: 0px;
    background-color: #F8F8F8;
}
h3 {
    color: #3574ca;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
}
h4 {
    color: #3574ca;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}
h6 {
   color: #333;
   margin: 10px; 
}
.logo {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 60px;
    width: @left-width;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: #333333;
    border-bottom: 1px solid #C1C1C1;
}
.left-container {
    position: fixed;
    left: 0px;
    top: 61px;
    bottom: 0px;
    width: @left-width;
    border-right: 1px solid #C1C1C1;
    overflow-y: auto;
    overflow-x: hidden;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    hr {
        margin: 0px;
        border-top: 1px solid #E8E8E8;
        border-bottom: 0;
    }
}
.right-top-container {
    position: fixed;
    top: 0px;
    left: @left-width;
    right: 0px;
    height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 60px;
    border-bottom: 1px solid #C1C1C1;
    color: #333333;
    background-color: #F8F8F8;
    z-index: 1;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.right-middle-container {
    margin-left: @left-width + 1;
    margin-top: 60px;
    margin: 60px 0 300px @left-width + 1;
    padding: 50px;
    font-size: 12px;
}
