
.left-container {

    .menu-item {
        padding-left: 10px;
        height: 40px;
        line-height: 40px;
        text-align: left;
        font-size: 14px;
        font-weight: 700;
        cursor: default;
        background-color: #F8F8F8;
        color: #333333;
    }
    .list-item {
        height: 40px;
        line-height: 40px;
        text-align: left;
        padding-left: 25px;
        font-size: 14px;
        font-weight: 700;
        cursor: default;
        background-color: #FFF;
        color: #333;
        &:hover {
            background-color: #2F82F5;
            color: #FFF;
        }
    }
    .list-item-selectd {
        background-color: #3879D6;
        color: #FFF;
    }

}
