@import "../skin.less";
.fcui2-region-province {
    display: inline-block;
    width: 100px;
    border: @border-hidden;
    .fcui2-checkbox {
        margin-left: 10px;
    }
    &:hover {
        border: @border-normal;
    }
}