@import "../skin.less";
.fcui2-table {
    .table-selector {
        position: relative;
        padding: 0px !important;
        width: 45px !important;
        text-align: center;
        .font-icon-largeable-caret-down {
            float: right;
        }
    }
}