body {
    margin: 0px;
}
.leftContainer {
    float: left;
    position: fixed;
    width: 300px;
    bottom: 0px;
    top: 80px;
    border-right: 1px solid #D8D8D8;
}
.rightContainer {
    margin-left: 310px;
    margin-top: 80px;
}
.topHeader {
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    background-color: #FFF;
    z-index: 100;
}
.my-form {
    width: 500px;
    position: relative;
    border: 1px solid #D8D8D8;
    .info {
        margin: 20px 10px 0;
        font-size: 12px;
    }
    .fieldItem {
        margin: 20px 10px 0;
        .label {
            font-size: 12px;
        }
    }
    .button-submit {
        margin: 0 10px 10px 10px;
    }
    .alert {
        font-size: 12px;
        color: #f00;
        margin: 20px 10px;
    }
}