/**
 * OneUX4 皮肤变量
 */
// font-size
@oneux4-font-size-t1: 27px;
@oneux4-font-size-t2: 24px;
//@oneux4-font-size-t3: 12px;

// color
@oneux4-color-c1: #333333;
@oneux4-color-c2: #666666;
@oneux4-color-c3: #999999;
@oneux4-color-c4: #FFF;
@oneux4-color-c5: #d7d8e4;
@oneux4-color-c6: #d2d3e0;
@oneux4-color-c7: #bebebe;
@oneux4-color-c8: #fa5b58;
@oneux4-color-c9: #d5d6de;
@oneux4-color-c10: #d4d5dd;
@oneux4-color-c11: #d5d5d5;
@oneux4-color-c12: #b3b3b3;

// bgcolor
@oneux4-bgcolor-c1: #fff;
@oneux4-bgcolor-c2: #f2f4f8;
@oneux4-bgcolor-c3: #333333;
@oneux4-bgcolor-c4: #3998fc;
@oneux4-bgcolor-c5: #eeeeee;
@oneux4-bgcolor-c6: #f0f0f5;
@oneux4-bgcolor-c7: #e5e5ec;
@oneux4-bgcolor-c8: #d6d6d6;
@oneux4-bgcolor-c9: #bebebe;
@oneux4-bgcolor-c10: #2d87e5;
@oneux4-bgcolor-c11: #2878cc;
@oneux4-bgcolor-c12: #ededed;
@oneux4-bgcolor-c13: #3296ff;