@normal-font: 'Helvetica', 'Tahoma', 'Arial', 'Heiti SC', 'Microsoft YaHei', '微软雅黑', sans-serif;

@import "./colors";

@color-disabled: #C8C8C8;
@color-active: #2F82F5;
@color-alert: #f00;

@bgcolor-normal: #F8F8F8;
@bgcolor-active: #FFF;
@bgcolor-important: #4593FF;
@bgcolor-important-hover: #2F82F5;
@bgcolor-layer: #FFF;
@bgcolor-item-hover: #F2F8FF;
@bgcolor-window-title: #30568B;
@bgcolor-window-background: #000;
@bgcolor-table-header: #FBFBFB;
@bgcolor-information: #FFF6C2;

@fontcolor-normal: #333;
@fontcolor-important: #FFF;
@fontcolor-highlight: #628BC4;
@fontcolor-focus: #2F82F5;
@fontcolor-close-button: #97AAC5;


@border-normal: 1px solid @color-disabled;
@border-active: 1px solid @color-active;
@border-hidden: 1px solid #FFF;


@padding-normal: 0 10px;
@padding-layer-list: 4px 0;
@padding-dropdownlist: 0 0 0 10px;
@padding-window-content: 10px;
@padding-td: 0 5px;
@padding-td-layer: 5px 10px 0;
@padding-td-big-layer: 5px 10px;


@margin-normal: 0 10px;


@height-normal: 28px;
@height-outer: 30px;
@height-td-layer: 45px;


@lineheight-small1: 13px;
@lineheight-small2: 14px;
@lineheight-normal: 28px;
@lineheight-layer: 20px;
@lineheight-window-title: 40px;


@shadow-normal: 0 1px 3px @color-disabled;


@fontsize-button: 12px;
@fontsize-icon: 14px;
@fontsize-icon-button: 16px;
@fontsize-close-button: 20px;
@fontsize-alert-icon: 40px;

@fontweight-title: 700;
