@normal-font: '微软雅黑';


@color-disable: #D8D8D8;
@color-active: #2F82F5;
@bgcolor-normal: #F8F8F8;
@bgcolor-active: #FFF;
@bgcolor-important: #4593FF;
@bgcolor-important-hover: #2F82F5;

@fontcolor-normal: #333;
@fontcolor-important: #FFF;
@fontcolor-highlight: #628BC4;


@border-normal: 1px solid @color-disable;
@border-active: 1px solid @color-active;


@padding-normal: 0 10px;


@height-normal: 28px;


@lineheight-normal: 28px;


@shadow-normal: 0 1px 3px @color-disable;


@fontsize-button: 12px;
@fontsize-icon: 14px;